* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

table, th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}

tr:nth-child(even) {
    background-color: #E7E9EB;
}